.tab_container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.tab_left {
  width: 15%;
  align-self: flex-start;
}

.tab_right {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.tabpanel_container {
  display: flex;
}

.tabpanel_container > div {
  flex-grow: 1;
}

.tabpanel_container > div > div {
  height: 100%;
}
