.tab_container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
}

.tab_left {
  width: 15%;
  align-self: flex-start;
}

.tab_right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tab-text {
  text-orientation: sideways-right;
}

.tabpanel_container {
  display: flex;
}

.tabpanel_container > div {
  flex-grow: 1;
}

.tabpanel_container > div > div {
  height: 100%;
}
.main_tabs .MuiTabs-indicator {
  background-color: var(--color-secondary);
}

/* Small Size */
@media screen and (max-width: 480px) {
  .tab_left {
    width: 100%;
  }
  .tab_container {
    flex-direction: column;
  }
  .tab_right {
    width: 100%;
  }
}
