.tab_container {
  align-items: flex-start;
  width: 100%;
}
.tab-item {
  margin-right: 1.5vw;
}

.portfolio_item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_cards_container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.portfolio_item_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.portfolio_item_image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.portfolio_item_title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.portfolio_item_text {
  margin-bottom: 1rem;
  text-align: center;
}

.portfolio_item_link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
}

.portfolio_item_link:hover {
  background-color: #0062cc;
}

.back_button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.back_button:hover {
  background-color: #c82333;
}

.portfolio_container {
  margin-left: 20px; /* add margin to make room for the vertical bar */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio_item {
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.portfolio_item img {
  max-width: 100%;
}

.portfolio_item_content {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.portfolio_item_title {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.portfolio_item_description {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.5;
}
.portfolio_section {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(100% - 320px);
}
